@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: montserrat, sans-serif;
    font-weight: 300;
    color: #371300;
    background-color:rgba(245,226,193,1);
}

/* background img home page */

#bg-container {
    position: relative;
    width: 100%;
}

#bg {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 4;
}
#bg img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* grid  for home page */

#grid-cont {
    position: absolute;
    z-index: 5;
    display: grid;
    grid-template-columns: 5vw 1fr 3vw 1fr 5vw;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 5px;
    grid-template-areas:
    ". header-text header-text header-text ."
    ". about-text . about-img ."
    " . sample-img . sample-text ."
    ". form-text . form-img ."
    ". footer footer footer .";
    width: 100%;
    height: 100%;
  }

/* headings and paragraph styling */

h1, h2 {
    font-family: oswald, sans-serif;
    text-transform: uppercase;   
}

p {
    letter-spacing: 2px;
    color: #371300;
    font-weight: 500;
}

/* section styleing */

.section-style {
    background-color: rgba(239,204,172,1);
    text-align: center;
    border-radius: 1vw;
    width: 80%;
}

.section-heading {
    font-size: 160%;
}

.section-paragraph {
    font-size: 130%;
    width: 100%;
}

.grid-section-background {
    background-color:rgba(245,226,193,0.6);
    border-radius: 6vh;
}

/* header */

header {
    grid-area: header-text;
}

#header-background {
    width: 100%;
    height: 100%;
    background-color: #371300;
    text-align: center;
    border-radius: 0 0 12px 12px;
}

#header-text {
    width: 100%;
    height: 100%;
    text-align: center;
}

#title {
    width: 100%;
    text-align: center;
}

#heading {
    font-size: 180%;
    background-color: #f5e2c1;
    border-radius: 0px 0px 12px 12px ;
    padding: 4px;
    margin: 0 auto;
    letter-spacing: 1vw;
    width: 80%;
}

#title h2 {
    font-size: 150%;
    background-color: #f5e2c1;
    border-radius: 6px;
    padding: 0px 0px 2px 2px;
    text-align: center;
    margin-bottom: 4px;
}

/* hero img */

#hero-img {
    grid-area: about-img;
    margin-top: 3vh;
}

#hero-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 5%;
}

/* navigation */

#nav-container {
    margin: auto auto;
    margin-bottom: 6px;
}
nav {
    margin-top: 15px;
}

#menu li {
    display: inline;
    width: 33%;
    margin: 0 10%;
}

a {
    text-decoration: none;
    padding: 2px;
    color:  #371300;
    background-color: #f5e2c1;
    border-radius: 6px;
}

a:hover {
    text-decoration: underline;
}

/* about section */

#about {
    grid-area: about-text;
    display: grid;
    margin-top: 3vh;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(100px, auto));
    grid-template-areas: 
    "about-text-container"
    "call-to-action";
}    

#about p {
    font-size: 120%;
}

#about-text-container {
    grid-area: about-text-container;
    text-align: center;
    margin: auto auto;
    margin-top: 8vh;
}

/* call to action */

#call-to-action {
    background-color: rgba(239,204,172,1);
    max-height: 50%;
    width: 50%;
    border-radius: 2vh;
    margin: 6vh auto;
    grid-area: call-to-action;
}

#call-to-action p {
    font-weight: bold;
    font-size: 110%;
    margin: 10% 5px 10% 5px;
    
}

#call-to-action p a {
    background: none;
}

#call-to-action p:hover, #call-to-action p a:hover  {
    background-color: #371300;
    color: rgba(239,204,172,1);
    text-decoration: underline;
    padding: 2px;
    border-radius: 2vh;
}

/* sample section */
#samples {
    grid-area: sample-text;  
    
}

#sample-text-container {
    text-align: center;
    margin: auto auto;
    margin-top: 2vh;
}

#sample-img {
    grid-area: sample-img;
    height: 100%;
    width: auto;
}

#sample-img img {
    height: 60%;
    border-radius: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 15%;
    margin-bottom:10%;
}

.sample-audio {
    text-align: center;
    margin: 15%;
    background-color: rgba(239,204,172,1);
    height: auto;
    width: 70%;
    border-radius: 3vh;
    padding: 5px;
}

/* footer */

.footer {
    grid-area: footer;
    background-color: #371300;
    text-align: center;
    padding: 3% 0;
    border-radius: 12px 12px 0 0;
}

footer li {
    display: inline;
    width: 33%;
    margin: 9px 10%;
    background-color: rgba(239,204,172,1);
}

footer p {
    color: rgba(239,204,172,1);
    padding: 3px;
    margin-top: 10px;
}

footer a{
    font-size: 160%;
}

/* form */

#contact-section {
    grid-area: form-text;
}

#form-container {
    background-color: rgba(239,204,172,1);
    margin: 5% 10%;
    border-radius: 1vh;
}

#form-text-container {
    margin: 3% 12%;
}

form input {
    width: 97%;
    margin:4px;
    border: 2px solid #371300;
    border-radius: 0.4vh;
}

form input[type=text], form input[type=email], form input[type=number] {
    height: 20px;
}

form input[type=submit] {
    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
    color: #371300;
    font-weight: bold;
}

form input[type=submit]:hover {
    background-color: #371300;
    color: #f5e2c1;
}

form label {
    margin: 7PX;
    font-weight: bold;
}

form textarea {
    margin: 4px;
    border: 1px solid #371300;
    width: 95%;
}

/* contacts page footer */

.footer-contact {
    grid-area: footer;
    background-color: #371300;
    text-align: center;
    padding: 3% 0;
    border-radius: 2vw;
    width: 100%;
}

#form-img {
    grid-area: form-img;
}

#form-img img {
    height: auto;
    width: 95%;
    border-radius: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    margin-bottom: 4%;
}

/* mid-large media query */

@media screen and (max-width:1400px) {
    #about p {
        font-size: 110%;
    }

    #hero-img img {
        margin-top: 30%;
        margin-bottom: 30%;
    }
}  
/* grid media query */

@media screen and (max-width:900px) {
    #grid-cont {
        position: absolute;
        z-index: 5;
        display: grid;
        grid-template-columns: 5vw 1fr 5vw;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 5px;
        grid-template-areas:
        ". header-text ."
        ". about-text . "
        ". about-img ."
        ". sample-text ."
        " . sample-img ."
        ". form-text ."
        ". form-img ."
        ". footer .";
        width: 100%;
        height: 100%;
    }
        #hero-img img {
            margin-top: 5%;
            margin-bottom: 5%;
    }
}

/* small screen size media query */

@media screen and (max-width:750px) {
    #heading {
        font-size: 120%;
    }
    
    #menu li {
        margin: 0 5%;
    }

    audio {
        width: 90%;
    }
}

/* smaller srceen */

@media screen and (max-width: 350px) {
     #heading {
        font-size: 110%;
    }

    #menu li {
        margin: 0 1px;
        box-sizing: border-box;
    }

    #menu li a {
        font-size: 90%;
    }

    #call-to-action {
        font-size: 85%;
    }    

    #call-to-action p {
        margin: 4px;
    }
}

